In [4]:
from dotenv import load_dotenv
from FeaturesGetterModule.FeaturesGetter import FeaturesGetter
import os

load_dotenv("dev.env")
API_KEY = os.getenv("COINGLASS_API_KEY")

if not API_KEY:
    raise ValueError("COINGLASS_API_KEY not found in dev.env")

# Создаём экземпляр FeaturesGetter
getter = FeaturesGetter(api_key=API_KEY)

In [9]:
df_oi = getter.get_history(endpoint_name="open_interest_history")
rows, cols = df_oi.shape
print(f"Строк: {rows}, Столбцов: {cols}")

Строк: 1000, Столбцов: 5

In [13]:
df_oi_stable_coin = getter.get_history(endpoint_name="open_interest_stablecoin")
rows, cols = df_oi_stable_coin.shape
print(f"Строк: {rows}, Столбцов: {cols}")

Строк: 1000, Столбцов: 5

In [21]:
df_rate_history = getter.get_history(endpoint_name="funding_rate_history")
rows, cols = df_rate_history.shape
print(f"Строк: {rows}, Столбцов: {cols}")

Строк: 1000, Столбцов: 5

In [33]:
df_funding_rate_oi_weight = getter.get_history(endpoint_name="funding_rate_oi_weight")
rows, cols = df_funding_rate_oi_weight.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_funding_rate_oi_weight.tail()

Строк: 1000, Столбцов: 5

     feature__open  feature__high  feature__low  feature__close        date
995      -0.001888       0.004545     -0.004887        0.004545  2026-01-15
996       0.004545       0.007071      0.002580        0.003044  2026-01-16
997       0.003044       0.005962      0.000215        0.004012  2026-01-17
998       0.004012       0.008487      0.003429        0.004201  2026-01-18
999       0.006382       0.006554     -0.006396        0.000416  2026-01-18

In [35]:
df_funding_rate_vol_weight = getter.get_history(endpoint_name="funding_rate_vol_weight", prefix="feature_" + "funding_rate_vol_weight")
rows, cols = df_funding_rate_vol_weight.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_funding_rate_vol_weight.tail()

Строк: 1000, Столбцов: 5

,feature_funding_rate_vol_weight__open,feature_funding_rate_vol_weight__high,feature_funding_rate_vol_weight__low,feature_funding_rate_vol_weight__close,date
995,-0.002744,0.004478,-0.004511,0.003279,2026-01-15
996,0.003279,0.006154,0.001963,0.001963,2026-01-16
997,0.001963,0.005629,-0.000284,0.003641,2026-01-17
998,0.003641,0.008404,0.002763,0.003413,2026-01-18
999,0.003413,0.003413,0.003413,0.003413,2026-01-19

In [55]:
df_global_long_short_account_ratio = getter.get_history(endpoint_name="global_long_short_account_ratio", prefix="feature")
rows, cols = df_global_long_short_account_ratio.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_global_long_short_account_ratio.tail()

Строк: 1000, Столбцов: 4

,feature__global_account_long_percent,feature__global_account_short_percent,feature__global_account_long_short_ratio,date
995,46.68,53.32,0.88,2026-01-15
996,53.32,46.68,1.14,2026-01-16
997,56.43,43.57,1.30,2026-01-17
998,57.65,42.35,1.36,2026-01-18
999,67.57,32.43,2.08,2026-01-19

In [57]:
df_top_long_short_account_ratio = getter.get_history(endpoint_name="top_long_short_account_ratio", prefix="feature")
rows, cols = df_top_long_short_account_ratio.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_top_long_short_account_ratio.tail()

Строк: 1000, Столбцов: 4

,feature__top_account_long_percent,feature__top_account_short_percent,feature__top_account_long_short_ratio,date
995,50.45,49.55,1.02,2026-01-15
996,57.11,42.89,1.33,2026-01-16
997,59.43,40.57,1.47,2026-01-17
998,60.62,39.38,1.54,2026-01-18
999,69.63,30.37,2.29,2026-01-19

In [58]:
df_top_long_short_position_ratio = getter.get_history(endpoint_name="top_long_short_position_ratio", prefix="feature")
rows, cols = df_top_long_short_position_ratio.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_top_long_short_position_ratio.tail()

Строк: 1000, Столбцов: 4

,feature__top_position_long_percent,feature__top_position_short_percent,feature__top_position_long_short_ratio,date
995,62.74,37.26,1.68,2026-01-15
996,66.62,33.38,2.00,2026-01-16
997,66.23,33.77,1.96,2026-01-17
998,67.15,32.85,2.04,2026-01-18
999,67.96,32.04,2.12,2026-01-19

In [41]:
df_net_pos = getter.get_history(endpoint_name="net_position", prefix="feature")
rows, cols = df_net_pos.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_net_pos.tail()

Строк: 1000, Столбцов: 3

     feature__net_long_change  feature__net_short_change        date
995                 1598.3650                 -1148.0250  2026-01-15
996                -3606.1295                   932.6695  2026-01-16
997                  108.8350                  1290.0250  2026-01-17
998                 -926.4995                   555.5795  2026-01-18
999                 -742.8430                 -1178.3250  2026-01-19

In [43]:
df_liqidation_history = getter.get_history(endpoint_name="liquidation_history", prefix="feature")
rows, cols = df_liqidation_history.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_liqidation_history.tail()

Строк: 1000, Столбцов: 3

     feature__long_liquidation_usd  feature__short_liquidation_usd        date
995                   5.676166e+06                    4.301004e+06  2026-01-15
996                   2.941486e+06                    1.762504e+06  2026-01-16
997                   8.299577e+05                    9.511745e+05  2026-01-17
998                   6.942629e+06                    9.089290e+05  2026-01-18
999                   7.704936e+06                    1.817147e+06  2026-01-19

In [44]:
df_liqidation_history = getter.get_history(endpoint_name="liquidation_aggregated", prefix="feature")
rows, cols = df_liqidation_history.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_liqidation_history.tail()

Строк: 1000, Столбцов: 3

,feature__aggregated_long_liquidation_usd,feature__aggregated_short_liquidation_usd,date
995,7.087470e+06,4.623421e+06,2026-01-15
996,3.380796e+06,1.874804e+06,2026-01-16
997,8.898883e+05,1.008533e+06,2026-01-17
998,8.002196e+06,1.085174e+06,2026-01-18
999,1.047322e+07,2.171507e+06,2026-01-19

In [48]:
df_orderbook_ask_bids = getter.get_history(endpoint_name="orderbook_ask_bids", prefix="feature")
rows, cols = df_orderbook_ask_bids.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_orderbook_ask_bids.tail()

Строк: 635, Столбцов: 5

,feature__bids_usd,feature__bids_quantity,feature__asks_usd,feature__asks_quantity,date
630,1.353054e+08,1402.029,9.393401e+07,965.810,2026-01-15
631,1.784007e+08,1875.911,1.296571e+08,1351.176,2026-01-16
632,1.276909e+08,1342.669,1.883437e+08,1964.155,2026-01-17
633,2.543666e+08,2688.808,1.764464e+08,1846.565,2026-01-18
634,1.812345e+08,1956.794,1.866708e+08,1997.522,2026-01-19

In [49]:
df_orderbook_aggregated = getter.get_history(endpoint_name="orderbook_aggregated", prefix="feature")
rows, cols = df_orderbook_aggregated.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_orderbook_aggregated.tail()

Строк: 635, Столбцов: 5

,feature__aggregated_bids_usd,feature__aggregated_bids_quantity,feature__aggregated_asks_usd,feature__aggregated_asks_quantity,date
630,1.353054e+08,1402.029,9.393401e+07,965.810,2026-01-15
631,1.784007e+08,1875.911,1.296571e+08,1351.176,2026-01-16
632,1.276909e+08,1342.669,1.883437e+08,1964.155,2026-01-17
633,2.543666e+08,2688.808,1.764464e+08,1846.565,2026-01-18
634,1.841627e+08,1988.941,1.789115e+08,1914.613,2026-01-19

In [52]:
df_taker_buy_sell_volume = getter.get_history(endpoint_name="taker_buy_sell_volume", prefix="feature")
rows, cols = df_taker_buy_sell_volume.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_taker_buy_sell_volume.tail()

Строк: 1000, Столбцов: 3

     feature__taker_buy_volume_usd  feature__taker_sell_volume_usd        date
995                   7.310207e+09                    7.044570e+09  2026-01-15
996                   4.600541e+09                    5.031243e+09  2026-01-16
997                   1.799159e+09                    1.911601e+09  2026-01-17
998                   2.897470e+09                    3.035915e+09  2026-01-18
999                   3.519206e+09                    3.489429e+09  2026-01-19

In [62]:
df_bitcoin_lth_supply = getter.get_bitcoin_lth_supply(prefix="feature_" + "bitcoin_lth_supply")
rows, cols = df_bitcoin_lth_supply.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_bitcoin_lth_supply.tail()

Строк: 5267, Столбцов: 6

,date,feature_bitcoin_lth_supply__price,feature_bitcoin_lth_supply__lth_supply,feature_bitcoin_lth_supply__supply_pct30,feature_bitcoin_lth_supply__supply_z180,feature_bitcoin_lth_supply__supply_slope14
5262,2026-01-14,97008.0,1.408793e+07,0.004471,-1.426722,715.343671
5263,2026-01-15,95585.0,1.409609e+07,0.005179,-1.396726,1489.770476
5264,2026-01-16,95516.0,1.412253e+07,0.007060,-1.338588,2853.429168
5265,2026-01-17,95100.0,1.414097e+07,0.007259,-1.294035,3263.027330
5266,2026-01-18,93753.0,1.414158e+07,0.006081,-1.278217,3299.893078

In [63]:
df_get_bitcoin_active_addresses = getter.get_bitcoin_active_addresses(prefix="feature_" + "get_bitcoin_active_addresses")
rows, cols = df_get_bitcoin_active_addresses.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_get_bitcoin_active_addresses.tail()

Строк: 5634, Столбцов: 6

,date,feature_get_bitcoin_active_addresses__price,feature_get_bitcoin_active_addresses__active_address_count,feature_get_bitcoin_active_addresses__aa_pct7,feature_get_bitcoin_active_addresses__aa_z180,feature_get_bitcoin_active_addresses__aa_slope14
5629,2026-01-14,95322.908608,725683,0.120087,0.286625,850.000000
5630,2026-01-15,96931.291383,727968,0.160745,0.314819,9929.500000
5631,2026-01-16,95554.099561,692650,0.016694,-0.213695,218.571429
5632,2026-01-17,95525.156843,604794,0.001892,-1.500666,-2437.714286
5633,2026-01-18,95101.178945,551983,-0.001413,-2.236083,-5124.000000

In [64]:
df_get_bitcoin_sth_supply = getter.get_bitcoin_sth_supply(prefix="feature_" + "get_bitcoin_sth_supply")
rows, cols = df_get_bitcoin_sth_supply.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_get_bitcoin_sth_supply.tail()

Строк: 5267, Столбцов: 6

,date,feature_get_bitcoin_sth_supply__price,feature_get_bitcoin_sth_supply__sth_supply,feature_get_bitcoin_sth_supply__supply_pct30,feature_get_bitcoin_sth_supply__supply_z180,feature_get_bitcoin_sth_supply__supply_slope14
5262,2026-01-14,97008.0,5.887989e+06,-0.008321,1.440250,-277.174028
5263,2026-01-15,95585.0,5.880261e+06,-0.009992,1.411186,-1054.279405
5264,2026-01-16,95516.0,5.854234e+06,-0.014436,1.354913,-2421.063097
5265,2026-01-17,95100.0,5.836255e+06,-0.014960,1.311860,-2832.000544
5266,2026-01-18,93753.0,5.836088e+06,-0.012225,1.296515,-2869.982364

In [67]:
df_taker_buy_sell_volume_aggregated = getter.get_history(endpoint_name="taker_buy_sell_volume_aggregated", prefix="feature")
rows, cols = df_taker_buy_sell_volume_aggregated.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_taker_buy_sell_volume_aggregated.tail()

Строк: 1000, Столбцов: 3

,feature__aggregated_buy_volume_usd,feature__aggregated_sell_volume_usd,date
995,9.429214e+09,9.118295e+09,2026-01-15
996,5.880402e+09,6.402439e+09,2026-01-16
997,2.291735e+09,2.457957e+09,2026-01-17
998,3.624064e+09,3.810049e+09,2026-01-18
999,4.715777e+09,4.587039e+09,2026-01-19

In [70]:
df_get_bitfinex_margin_long_short = getter.get_bitfinex_margin_long_short(prefix="feature_" + "bitfinex_margin_long_short")
rows, cols = df_get_bitfinex_margin_long_short.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_get_bitfinex_margin_long_short.tail()

Строк: 1000, Столбцов: 6

,date,feature_bitfinex_margin_long_short__long_quantity,feature_bitfinex_margin_long_short__short_quantity,feature_bitfinex_margin_long_short__total_qty,feature_bitfinex_margin_long_short__long_share,feature_bitfinex_margin_long_short__log_long_short
995,2026-01-15,70852.62,171.43,71024.05,0.997586,6.024182
996,2026-01-16,70723.03,175.76,70898.79,0.997521,5.997407
997,2026-01-17,70649.62,187.18,70836.80,0.997358,5.933417
998,2026-01-18,70638.44,175.87,70814.31,0.997516,5.995585
999,2026-01-19,70698.63,190.37,70889.00,0.997315,5.917212

In [71]:
df_cgdi_index = getter.get_cgdi_index(prefix="feature_" + "cgdi_index")
rows, cols = df_cgdi_index.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_cgdi_index.tail()

Строк: 750, Столбцов: 5

,date,feature_cgdi_index__index_value,feature_cgdi_index__log_level,feature_cgdi_index__dev_from_base,feature_cgdi_index__dev_softsign
745,2026-01-15,2263.1878,7.724530,1263.1878,0.558145
746,2026-01-16,2172.2652,7.683526,1172.2652,0.539651
747,2026-01-17,2159.3674,7.677571,1159.3674,0.536901
748,2026-01-18,2171.4726,7.683161,1171.4726,0.539483
749,2026-01-19,2104.3205,7.651748,1104.3205,0.524787

In [72]:
df_coinbase_premium_index = getter.get_coinbase_premium_index(prefix="feature_" + "coinbase_premium_index")
rows, cols = df_coinbase_premium_index.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_coinbase_premium_index.tail()

Строк: 1000, Столбцов: 7

,date,feature_coinbase_premium_index__premium,feature_coinbase_premium_index__premium_rate,feature_coinbase_premium_index__premium_abs,feature_coinbase_premium_index__premium_softsign,feature_coinbase_premium_index__premium_rate_bps,feature_coinbase_premium_index__implied_ref_price
995,2026-01-15,2.23,0.0023,2.23,0.690402,23.0,96956.479584
996,2026-01-16,-26.61,-0.0278,26.61,-0.963781,-278.0,95719.427904
997,2026-01-17,-46.94,-0.0491,46.94,-0.979141,-491.0,95600.816611
998,2026-01-18,-37.78,-0.0397,37.78,-0.974214,-397.0,95163.730357
999,2026-01-19,-43.14,-0.0461,43.14,-0.977345,-461.0,93579.177735

In [73]:
df_get_bitcoin_reserve_risk = getter.get_bitcoin_reserve_risk(prefix="feature_" + "get_bitcoin_reserve_risk")
rows, cols = df_get_bitcoin_reserve_risk.shape
print(f"Строк: {rows}, Столбцов: {cols}")

df_get_bitcoin_reserve_risk.tail()

Строк: 5633, Столбцов: 9

,date,feature_get_bitcoin_reserve_risk__price,feature_get_bitcoin_reserve_risk__reserve_risk_index,feature_get_bitcoin_reserve_risk__movcd,feature_get_bitcoin_reserve_risk__hodl_bank,feature_get_bitcoin_reserve_risk__vocd,feature_get_bitcoin_reserve_risk__log_rr,feature_get_bitcoin_reserve_risk__rr_z180,feature_get_bitcoin_reserve_risk__rr_slope14
5628,2026-01-14,97008.0,0.001895,43713.491563,5.118568e+07,43982.901752,-6.268422,-0.926951,0.000012
5629,2026-01-15,95585.0,0.001866,43713.491563,5.123755e+07,44225.755630,-6.284212,-1.012497,0.000008
5630,2026-01-16,95516.0,0.001862,43042.446490,5.129003e+07,31162.637620,-6.285958,-1.012045,0.000006
5631,2026-01-17,95100.0,0.001852,43042.446490,5.134208e+07,39486.925922,-6.291337,-1.033431,0.000005
5632,2026-01-18,93753.0,0.001824,41063.868764,5.139477e+07,19153.014936,-6.306628,-1.113849,0.000002